body{
    background: #494D5F;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--heading{
    color: white;
    text-align: center;
}

.blog-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.blog-form--title{
    grid-column: 1/3;
}

.blog-form--content{
    grid-column: 1/3;
    height: 200px;
    width: 200px;
}

.blog-form--button{
    grid-column: 1/3;
}